//start section search
.search {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;
    &.page-search{
        min-height: 230px; 
        .search__inner{
            padding: 55px 0 70px;
            &-text{
             margin-bottom: 20px;   
            }
        }   
    }
    &__inner {
        padding: 155px 0px 100px;
        color: #fff;
        text-align: center;
        &-title {
            margin-bottom: 10px;
            font-size: 48px;
            font-weight: 700;
            line-height: 72px;
        }
        &-text {
            margin-bottom: 50px;
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
        }
        &-form {
            max-width: 670px;
            margin: 0 auto;
            position: relative;
            input {
                outline:none;
                display: block;
                width: 100%;
                box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
                border-radius: 4px;
                height: 56px;
                border: none;
                font-size: 14px;
                font-weight: 500;
                padding-left: 25px;
                padding-right: 60px;
                &::placeholder {
                    color: #90a4ae;
                    font-weight: 500;
                }
            }
            button {
                outline:none;
                position: absolute;
                border: none;
                background-color: transparent;
                right: 20px;
                top: 16px;
            }
        }
    }
}
//end section search