// start author
.author{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    &-box{
        max-width: 650px;
        width: 100%;
        min-height: 215px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $green;
        &-title{
            font-size: 30px;
            line-height: 30px;
            color:#fff;
            margin-right: 45px;
            max-width: 260px;
            span{
                font-weight: 700;
            }
        }
        &-link{
           font-size: 18px; 
           line-height: 36px;
           padding: 14px 40px;
           background-color: #fff; 
        }
    }
}
// end author